<div class="row">
    <h1 class="header center teal-text text-lighten-2">{{title}}</h1>
    <div class="row center">
        <h5 class="header col s12 light">A blog based on JavaScript topics.</h5>
        {{#if user}}
        <h5 class="header col s12 light">Welcome {{user.name}}</h5>
        {{/if}}
        <div class="carousel">
            {{#each categories}}
            <a class="carousel-item" href="/articles/category/{{_id}}">
                <img src={{image}}>
            </a>
            {{/each}}

        </div>
    </div>

</div>