<div class="container z-depth-2  category_blocks">
    <div class="center-align">
        <h3 class="teal-text">{{title}}</h3>
        <a class="waves-effect waves-light btn " href="/manage/categories/add">Add Category</a>
    </div>
    <hr>
    <div class="col s12">
        <table class="striped">

            <tr>
                <th>Category Title</th>
                <th></th>
            </tr>
            {{#each categories}}
            <tr>
                <td>{{this.title}}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="/manage/categories/edit/{{this._id}}">Edit</a>
                </td>
            </tr>

            {{/each}}

        </table>

    </div>

</div>